footer {
    background-image: url(../images/footer.png);
    margin-top: -265px;
    padding-top: 265px;
    background-position-y: 60%;
    background-size: cover;
    color: #FFF;
    .row {
        .col-1-3 {
            display: inline-block;
            width: 400px;
            padding-top: 40px;
            padding-left: 10px;
            padding-right: 10px;
            box-sizing: border-box; 
            vertical-align: top;
            @media only screen and (max-width: 1200px) {
                width: 33%;
            }
            @media only screen and (max-width:768px) {
                width: 100%;
            }
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
            .col-header {
                border-bottom: 2px #FFF solid;
                text-align: center;
                text-transform: uppercase;
                padding-bottom: 15px;
            }
            .col-content {
                padding-top: 20px;
                .col-content-header {
                    text-align: center;
                    .social-name {
                        display: block;
                        text-align: center;
                        font-family: 'Libre Baskerville', serif;
                        font-style: italic;
                        line-height: 23px
                    }
                }
                .twitter-message {
                    font-family: 'Libre Baskerville', serif;
                    font-style: italic;
                    font-size: 14px;
                    margin: 25px auto 0 auto;
                    text-align: left;
                    width: 90%;
                    line-height: 19px;
                    .twitter-time {
                        margin-top: 5px;
                        text-align: right;
                        font-family: 'Libre Baskerville', serif;
                        font-style: italic;
                        font-size: 14px;
                        display: block;
                    }
                }
                .btn {
                    margin-top: 15px;
                    color: #FFF;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 15px;
                }
                .instagram-img {
                    margin-top: 25px;
                    display: inline-block;
                    width: 50%;
                    height: 185px;
                    padding-left: 10px;
                    padding-right: 10px;
                    box-sizing: border-box;
                    overflow: hidden;
                    vertical-align: top;
                    text-align: center;
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                    img {
                        height: 100%;
                    }
                }
            }
            &.signup {
                .col-content {
                    width: 90%;
                    margin: 0 auto;
                    .form {
                        margin-top: 55px;
                        text-align: center;
                        .input {
                            border: 2px #FFF solid;
                            padding: 5px 15px;
                            margin-bottom: 11px;
                            label {
                                font-family: 'Libre Baskerville', serif;
                                font-style: italic;
                                font-size: 15px;
                                text-align: left;
                                width: 25%;
                                display: inline-block;
                                padding-right: 15px;
                                border-right: 2px #fff solid;
                                box-sizing: border-box;
                                @media only screen and (max-width:1200px) {
                                    width: 70px;
                                }
                            }
                            input {
                                font-family: 'Libre Baskerville', serif;
                                font-style: italic;
                                font-size: 15px;
                                width: 75%;
                                border: none;
                                background: transparent;
                                padding-left: 15px;
                                box-sizing: border-box;
                                color: #FFF;
                                @media only screen and (max-width:1200px) {
                                    width: 100px;
                                }
                            }
                            select {
                                font-family: 'Libre Baskerville', serif;
                                font-style: italic;
                                font-size: 15px;
                                color: #FFF;
                                width: 37.5%;
                                padding-left: 35px;
                                background: none;
                                border: none;
                                @media only screen and (max-width:1200px) {
                                    width: 50px;
                                    padding-left: 5px;
                                }
                                option {
                                    background-color: #000;
                                }
                            }
                        }
                        .btn {
                            margin-top: 9px;
                        }
                    }
                }
            }
        }
    }
    .menu-footer {
        margin-top: 55px;
        border-top: 2px #FFF double;
        padding-top: 25px;
        text-align: center;
        a {
            display: inline-block;
            color: #FFF;
            font-size: 13px;
            text-decoration: none;
            vertical-align: middle;
            &.separator {
                padding: 0 20px;
                border-right: 2px #FFF solid;
            }
            &.social {
                padding: 0 10px;
                vertical-align: middle;
            }
        }
    }
    .sign {
        text-align: center;
        padding: 25px 0;
    }
}