header {
    background-image: url(../images/header.png);
    background-position-y: 55%;
    display: inline-block;
    padding-bottom: 280px;
    width: 100%;
    @media only screen and (max-width:768px) {
        background-position-y: 0%;
    }
    #logo {
        margin-top: 145px;
        text-align: center;
        @media only screen and (max-width:768px) {
            margin-top: 50px;
            img {
                max-width: 100%;
            }
        }
    }
    nav {
        margin: 50px 0;
        padding: 10px 0;
        border-top: 2px #FFF solid;
        border-bottom: 2px #FFF solid;
        color: #FFF;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                width: 16%;
                text-align: center;
                text-transform: uppercase;
                a {
                    color: #FFF;
                    text-decoration: none;
                }
            }
            @media only screen and (max-width:768px) {
                display: none;
            }
        }
        #hamburger {
            border: 2px solid #FFF;
            border-radius: 3px 3px 3px 3px;
            cursor: pointer;
            display: block;
            height: 24px;
            padding: 3px 4px 3px;
            width: 25px;
            right: 25px;
            position: absolute;
            display: none;
            div {
                background-color: #FFF;
                border: 1px solid #FFF;
                border-radius: 2px 2px 2px 2px;
                height: 2px;
                margin-top: 3px;
                width: 90%;
            }
            @media only screen and (max-width:768px) {
                display: block;
            }
        }
        @media only screen and (max-width:768px) {
            border-bottom: none;
            border-top: none;
            ul {
                display: none;
                margin-top: 50px;
                &.visible {
                    display: block;
                }
                li {
                    display: block;
                    width: 100%;
                    border-top: 2px #FFF solid;
                }
            }
        }
    }
    #social-header {
        text-align: center;
        a {
            display: inline-block;
            margin: 0 15px;
            border: 2px #FFF solid;
            border-radius: 20px;
            height: 35px;
            position: relative;
            width: 35px;
            i {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
            }
        }
    }
}