section#main {
    .container {
        margin-top: -170px;
        position: relative;
        background-color: #FFF;
        padding-top: 70px;
        h1 {
            text-transform: uppercase;
            text-align: center;
            font-size: 25px;
            width: 380px;
            margin: 0 auto;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            margin-bottom: 25px;
            @media only screen and (max-width:768px) {
                width: 100%;
            }
        }
        p.description {
            font-family: 'Libre Baskerville', serif;
            font-style: italic;
            font-size: 15px;
            width: 600px;
            margin: 0 auto;
            text-align: center;
            @media only screen and (max-width:768px) {
                width: 90%;
            }
        }
        .row {
            margin-top: 65px;
            .col-1-4 {
                display: inline-block;
                width: 25%;
                height: 300px;
                vertical-align: middle;
                position: relative;
                overflow: hidden;
                @media only screen and (max-width:768px) {
                    width: 50%;
                }
                @media only screen and (max-width:414px) {
                    width: 100%;
                }
                img {
                    position: absolute;
                }
                .hover {
                    position: absolute;
                    top: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    width: 100%;
                    height: 100%;
                    display: none;
                    color: #FFF;
                    text-align: center;
                    padding-top: 90px;
                    p {
                        text-transform: uppercase;
                    }
                    i {
                        margin: 10px 0;
                    }
                    a {
                        display: block;
                        color: #FFF;
                        text-decoration: none;
                        font-family: 'Libre Baskerville', serif;
                        font-style: italic;
                    }
                }
                &:hover .hover {
                    display: block;
                }
                &#booking img {
                    top: -66px;
                    left: 0px;
                }
                &#menus img {
                    top: -66px;
                    left: 0px;
                }
            }
        }

        #carousel {
            width: 100%;
            height: 480px;
            overflow: hidden;
            position: relative;
            .images {
                li {
                    position: absolute;
                    right: 100%;
                    transform: translateX(0);
                    transition: 1s;
                    &.current {
                        right: 0px;
                        transform: translateX(0);
                        transition: 1s;
                    }
                }
            }
            .buttons {
                position: absolute;
                bottom: 0px;
                width: 100%;
                text-align: center;
                li {
                    display: inline-block;
                    vertical-align: middle;
                    cursor: pointer;
                }
            }
        }
    }
}