* {
    font-family: 'Montserrat', sans-serif;
}

*:focus {
    outline: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    @media only screen and (max-width: 1200px) {
        width: 100%;
    }
}

.icon {
    display: inline-block;
}

body {
    background-color: #000;
}

a.btn {
    border: 2px #fff solid;
    border-radius: 7px;
    padding: 10px 60px;
    display: inline-block;
    @media only screen and (max-width:768px) {
        padding: 10px 20px;
    }
}