/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrows {
  background-image: url(../images/spritesheet.png);
  background-position: 0px 0px;
  width: 67px;
  height: 66px;
}
.icon-carousel-current {
  background-image: url(../images/spritesheet.png);
  background-position: -67px -46px;
  width: 18px;
  height: 18px;
}
.icon-carousel {
  background-image: url(../images/spritesheet.png);
  background-position: -23px -66px;
  width: 13px;
  height: 12px;
}
.icon-facebook {
  background-image: url(../images/spritesheet.png);
  background-position: -67px -22px;
  width: 14px;
  height: 24px;
}
.icon-instagram {
  background-image: url(../images/spritesheet.png);
  background-position: -67px 0px;
  width: 22px;
  height: 22px;
}
.icon-twitter {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -66px;
  width: 23px;
  height: 18px;
}
