@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  font-family: 'Montserrat', sans-serif;
}
*:focus {
  outline: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
.icon {
  display: inline-block;
}
body {
  background-color: #000;
}
a.btn {
  border: 2px #fff solid;
  border-radius: 7px;
  padding: 10px 60px;
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  a.btn {
    padding: 10px 20px;
  }
}
header {
  background-image: url(../images/header.png);
  background-position-y: 55%;
  display: inline-block;
  padding-bottom: 280px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  header {
    background-position-y: 0%;
  }
}
header #logo {
  margin-top: 145px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  header #logo {
    margin-top: 50px;
  }
  header #logo img {
    max-width: 100%;
  }
}
header nav {
  margin: 50px 0;
  padding: 10px 0;
  border-top: 2px #FFF solid;
  border-bottom: 2px #FFF solid;
  color: #FFF;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  display: inline-block;
  width: 16%;
  text-align: center;
  text-transform: uppercase;
}
header nav ul li a {
  color: #FFF;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  header nav ul {
    display: none;
  }
}
header nav #hamburger {
  border: 2px solid #FFF;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  display: block;
  height: 24px;
  padding: 3px 4px 3px;
  width: 25px;
  right: 25px;
  position: absolute;
  display: none;
}
header nav #hamburger div {
  background-color: #FFF;
  border: 1px solid #FFF;
  border-radius: 2px 2px 2px 2px;
  height: 2px;
  margin-top: 3px;
  width: 90%;
}
@media only screen and (max-width: 768px) {
  header nav #hamburger {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  header nav {
    border-bottom: none;
    border-top: none;
  }
  header nav ul {
    display: none;
    margin-top: 50px;
  }
  header nav ul.visible {
    display: block;
  }
  header nav ul li {
    display: block;
    width: 100%;
    border-top: 2px #FFF solid;
  }
}
header #social-header {
  text-align: center;
}
header #social-header a {
  display: inline-block;
  margin: 0 15px;
  border: 2px #FFF solid;
  border-radius: 20px;
  height: 35px;
  position: relative;
  width: 35px;
}
header #social-header a i {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
section#main .container {
  margin-top: -170px;
  position: relative;
  background-color: #FFF;
  padding-top: 70px;
}
section#main .container h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  width: 380px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 25px;
}
@media only screen and (max-width: 768px) {
  section#main .container h1 {
    width: 100%;
  }
}
section#main .container p.description {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 15px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  section#main .container p.description {
    width: 90%;
  }
}
section#main .container .row {
  margin-top: 65px;
}
section#main .container .row .col-1-4 {
  display: inline-block;
  width: 25%;
  height: 300px;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  section#main .container .row .col-1-4 {
    width: 50%;
  }
}
@media only screen and (max-width: 414px) {
  section#main .container .row .col-1-4 {
    width: 100%;
  }
}
section#main .container .row .col-1-4 img {
  position: absolute;
}
section#main .container .row .col-1-4 .hover {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
  color: #FFF;
  text-align: center;
  padding-top: 90px;
}
section#main .container .row .col-1-4 .hover p {
  text-transform: uppercase;
}
section#main .container .row .col-1-4 .hover i {
  margin: 10px 0;
}
section#main .container .row .col-1-4 .hover a {
  display: block;
  color: #FFF;
  text-decoration: none;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
}
section#main .container .row .col-1-4:hover .hover {
  display: block;
}
section#main .container .row .col-1-4#booking img {
  top: -66px;
  left: 0px;
}
section#main .container .row .col-1-4#menus img {
  top: -66px;
  left: 0px;
}
section#main .container #carousel {
  width: 100%;
  height: 480px;
  overflow: hidden;
  position: relative;
}
section#main .container #carousel .images li {
  position: absolute;
  right: 100%;
  transform: translateX(0);
  transition: 1s;
}
section#main .container #carousel .images li.current {
  right: 0px;
  transform: translateX(0);
  transition: 1s;
}
section#main .container #carousel .buttons {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
section#main .container #carousel .buttons li {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
footer {
  background-image: url(../images/footer.png);
  margin-top: -265px;
  padding-top: 265px;
  background-position-y: 60%;
  background-size: cover;
  color: #FFF;
}
footer .row .col-1-3 {
  display: inline-block;
  width: 400px;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  vertical-align: top;
}
@media only screen and (max-width: 1200px) {
  footer .row .col-1-3 {
    width: 33%;
  }
}
@media only screen and (max-width: 768px) {
  footer .row .col-1-3 {
    width: 100%;
  }
}
footer .row .col-1-3:first-child {
  padding-left: 0;
}
footer .row .col-1-3:last-child {
  padding-right: 0;
}
footer .row .col-1-3 .col-header {
  border-bottom: 2px #FFF solid;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 15px;
}
footer .row .col-1-3 .col-content {
  padding-top: 20px;
}
footer .row .col-1-3 .col-content .col-content-header {
  text-align: center;
}
footer .row .col-1-3 .col-content .col-content-header .social-name {
  display: block;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  line-height: 23px;
}
footer .row .col-1-3 .col-content .twitter-message {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 14px;
  margin: 25px auto 0 auto;
  text-align: left;
  width: 90%;
  line-height: 19px;
}
footer .row .col-1-3 .col-content .twitter-message .twitter-time {
  margin-top: 5px;
  text-align: right;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 14px;
  display: block;
}
footer .row .col-1-3 .col-content .btn {
  margin-top: 15px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
}
footer .row .col-1-3 .col-content .instagram-img {
  margin-top: 25px;
  display: inline-block;
  width: 50%;
  height: 185px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  overflow: hidden;
  vertical-align: top;
  text-align: center;
}
footer .row .col-1-3 .col-content .instagram-img:first-child {
  padding-left: 0;
}
footer .row .col-1-3 .col-content .instagram-img:last-child {
  padding-right: 0;
}
footer .row .col-1-3 .col-content .instagram-img img {
  height: 100%;
}
footer .row .col-1-3.signup .col-content {
  width: 90%;
  margin: 0 auto;
}
footer .row .col-1-3.signup .col-content .form {
  margin-top: 55px;
  text-align: center;
}
footer .row .col-1-3.signup .col-content .form .input {
  border: 2px #FFF solid;
  padding: 5px 15px;
  margin-bottom: 11px;
}
footer .row .col-1-3.signup .col-content .form .input label {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 15px;
  text-align: left;
  width: 25%;
  display: inline-block;
  padding-right: 15px;
  border-right: 2px #fff solid;
  box-sizing: border-box;
}
@media only screen and (max-width: 1200px) {
  footer .row .col-1-3.signup .col-content .form .input label {
    width: 70px;
  }
}
footer .row .col-1-3.signup .col-content .form .input input {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 15px;
  width: 75%;
  border: none;
  background: transparent;
  padding-left: 15px;
  box-sizing: border-box;
  color: #FFF;
}
@media only screen and (max-width: 1200px) {
  footer .row .col-1-3.signup .col-content .form .input input {
    width: 100px;
  }
}
footer .row .col-1-3.signup .col-content .form .input select {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 15px;
  color: #FFF;
  width: 37.5%;
  padding-left: 35px;
  background: none;
  border: none;
}
@media only screen and (max-width: 1200px) {
  footer .row .col-1-3.signup .col-content .form .input select {
    width: 50px;
    padding-left: 5px;
  }
}
footer .row .col-1-3.signup .col-content .form .input select option {
  background-color: #000;
}
footer .row .col-1-3.signup .col-content .form .btn {
  margin-top: 9px;
}
footer .menu-footer {
  margin-top: 55px;
  border-top: 2px #FFF double;
  padding-top: 25px;
  text-align: center;
}
footer .menu-footer a {
  display: inline-block;
  color: #FFF;
  font-size: 13px;
  text-decoration: none;
  vertical-align: middle;
}
footer .menu-footer a.separator {
  padding: 0 20px;
  border-right: 2px #FFF solid;
}
footer .menu-footer a.social {
  padding: 0 10px;
  vertical-align: middle;
}
footer .sign {
  text-align: center;
  padding: 25px 0;
}
